<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Roberto</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/css/city-picker.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">

    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <div class="top-header-content">
                        <a href="#"><i class="icon_phone"></i> <span>15154111656</span></a>
                        <a href="#"><i class="icon_mail"></i> <span>1021778588@qq.com</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="top-header-content">
                        <!-- Top Social Area -->
                        <div class="top-social-area ml-auto">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="robertoNav">

                    <!-- Logo -->
                    <a class="nav-brand" href={{ url_for('index') }}><img src="/static/img/core-img/logo.png"
                                                                          alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href={{ url_for('admin.orderlist') }}>订单列表</a></li>
                                <li><a href={{ url_for('admin.agentlist') }}>代理人列表</a></li>
                                <li><a href={{ url_for('admin.guestlist') }}>用户列表</a></li>
                                <li><a href={{ url_for('admin.logout') }}>登出</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

    <table class="table table-striped">
      <thead>
        <tr>
            <th>申请人</th>
            <th>公寓</th>
            <th>订单时间</th>
		    <th>订单状态</th>
{#            <th>查看详情</th>#}
        </tr>
      </thead>
      <tbody>
      {% for item in result %}
	  <tr>
          <td>{{ item['guest_name']}}</td>
          <td>{{ item['apt_name']}}</td>
          <td>{{ item['submit_time']}}</td>
          <td>{{ item['status_describe'] }}</td>
{#          <td><a href="{{ url_for('agent.detail',order_id=item['order_id'])}}">查看详情</a></td>#}
      </tr>
      {% endfor %}
      </tbody>
    </table>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script src="/static/js/jquery.min.js"></script>
<!-- Popper -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- All Plugins -->
<script src="/static/js/roberto.bundle.js"></script>
<!-- Active -->
<script src="/static/js/default-assets/active.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/city-picker.data.js"></script>
<script src="/static/js/city-picker.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>